---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="container py-5">
    <div>
      <div class="container">
        <h1 class="text-center gradient-title">Virhe 404</h1>
        <hr class="keltanenhr" />
        <h2 class="text-center pt-5">Hakemaasi sivua ei löytynyt</h2>
        <hr />
      </div>
    </div>
  </div>
</Layout>

<style>
  div {
    min-height: 547px;
  }
</style>
