---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Camaro30123 from "../../public/Camaro 30-1-23.jpg";
import bmw from "/public/bmw.png";
import katiskamac from "/public/katiskamac.png";
---

<Layout pageTitle="Laemkri">
  <br />
  <div class="container">
    <p class="my-5"></p>
    <div class="row">
      <div class="col-md-6" data-aos="fade">
        <h1>3D-mallintaja + UI suunnittelija</h1>
        <p class="my-4"></p>
        <h5>
          Tervetuloa sivuilleni, täältä pääset tutustumaan materiaaleihin sekä
          projekteihin mitä olen tehnyt vuosien varrella. <br /> Nettisivulle päivittyy
          aina uusia projekteja kun niitä tulee. <br /> Päivittelen sivuille myös
          keskeneräisiä projekteja.
        </h5>
        <p class="mb-4"></p>
        <button onclick="document.location='/projektit/'" class="nappula"
          >Projektit</button
        >
        <button onclick="document.location='/blogi/'" class="nappula-rl my-2"
          >blogi</button
        >
      </div>
      <div class="col-md-6 kuvaa" data-aos="fade">
        <Image class="camaro1 front-img-cover" src={Camaro30123} alt="camaro" decoding="sync" />
      </div>
    </div>
  </div>
  <p class="my-5"></p>
  <div class="container">
    <p class="my-5"></p>
    <div class="row">
      <div data-aos="fade" class="col-md-6 camarokuva">
        <Image src={katiskamac} alt="mac" class="front-img-cover" />
      </div>
      <div data-aos="fade" class="col-md-6">
        <h1>Nettisivut</h1>
        <p class="my-4"></p>
        <h5>Voit tutustua Nettisivuihini Projekteista</h5>
        <p class="mb-4"></p>
        <button onclick="document.location='/projektit'" class="nappula "
          >Nettisivut</button
        >
      </div>
      <p class="my-5"></p>
    </div>
  </div>

  <div class="container">
    <p class="mx-5"></p>
    <div class="row">
      <div data-aos="fade" class="col-md-6">
        <h1>Valokuviani</h1>
        <p class="my-4"></p>
        <h5>
          Voit tutustua valokuviini ja muuhun kuvattuun tai tehtyyn
          kuvamateriaaliin Galleria-sivulta
        </h5>
        <p class="mb-4"></p>
        <button onclick="document.location='/galleria'" class="nappula"
          >Galleria</button
        >
      </div>
      <div data-aos="fade" class="col-md-6 camarokuva">
        <Image src={bmw} width={600} alt="kuvia" class="front-img-cover" />
      </div>
    </div>
    <p class="my-5"></p>
  </div>
</Layout>

<style>
  /* @property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

  @keyframes rotation{
    0% {--gradient-angle: 0deg; }
    100% {--gradient-angle: 360deg; }

  }

  :root{
    --clr-1: #ff0080;
    --clr-2: #ff6a3d;
    --clr-3: #ff8c6a;
    --clr-4: #fbb05f;
    --clr-5: #d8d000;
  }

  .camaro1{
    padding-left: 0%;
    margin: none;
  }

  .kuvaa{
    z-index: -1;
    position: relative;
  }

  .kuvaa::before,
  .kuvaa::after{
    content: "";
    position: absolute;
    inset: 0;
    background: conic-gradient(
      from var(--gradient-angle),
      var(--clr-1),
      var(--clr-2),
      var(--clr-3),
      var(--clr-4),
      var(--clr-5),
      var(--clr-4),
      var(--clr-3),
      var(--clr-2),
      var(--clr-1));
    border-radius: inherit;
    z-index: -1;
    filter: blur(3rem);
    animation: rotation 10s linear infinite;
  } */

  .space {
    height: 80px;
  }

  .nappula-rl {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.3em;
    padding: 12.5px 40px 12.5px;
    transition: all 0.5s ease-out;
    background-size: 300%;
    background: linear-gradient( #d8d000, #ff0080) border-box;
    border-color: #ff990000;
    color: #000000;
    display: inline-block;
    font-family: SF;
    border-radius: 6px;
    border: 3px solid transparent;
  }

  .nappula-rl:hover {
    background: linear-gradient(#3d3d3d, #202020) padding-box, linear-gradient( #d8d000, #ff0080) border-box;
    border-color: #ff990000;
    color: #ffffff;
  }

  .nappula {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.3em;
    padding: 12.5px 40px 12.5px;
    transition: all 0.5s ease-out;
    background-size: 300%;
    background: linear-gradient(#3d3d3d, #202020) padding-box, linear-gradient( #d8d000, #ff0080) border-box;
    color: #ffffff;
    border-radius: 6px;
    border: 3px solid transparent;
    display: inline-block;
    font-family: SF;
  }

  .nappula:hover {
    background: linear-gradient( #d8d000, #ff0080) border-box;
    border-color: #ff990000;
    color: #000000;
  }

  .info {
    width: 90px;
    height: 90px;
  }

  p {
    color: rgb(255, 255, 255);
    font-family: SF;
  }

  h1 {
    font-family: SF;
    font-weight: 700;
    background: #ff0080;
    background: linear-gradient(to right, #d8d000 0%, #ff0080 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h5 {
    font-family: SF;
    font-weight: 100;
    color: white;
    letter-spacing: 0.5px;
  }

  a {
    color: #d8d000;
    text-decoration: none;
    font-family: SF;
  }

  a:hover {
    color: #d8d000;
  }

  a:active {
    color: #d8d000;
  }
</style>
