---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Camaro30123 from "../../public/Camaro 30-1-23.png";
import bmw from "/public/bmw.png";
import katiskamac from "/public/katiskamac.png";
---

<Layout pageTitle="Laemkri">
  <br />
  <div class="container">
    <p class="my-5"/>
    <div class="row">
      <div class="col-md-6 mb-4" data-aos="fade">
        <h1>Lauri Raitio</h1>
        <p class="my-4"/>
        <p class="alaotsikko">
          Tervetuloa sivuilleni, täältä pääset tutustumaan materiaaleihin sekä
          projekteihin mitä olen tehnyt vuosien varrella. <br /> Nettisivulle päivittyy
          aina uusia projekteja kun niitä tulee. <br /> Päivittelen sivuille myös
          keskeneräisiä projekteja.
        </p>
        <p class="mb-4"/>
        <button onclick="document.location='/projektit/'" class="btn"
          >PROJEKTIT</button
        >
      </div>
      <div class="col-md-6 kuvaa" data-aos="fade">
        <Image
          class="camaro1 front-img-cover"
          src={Camaro30123}
          alt="camaro"
          decoding="sync"
        />
      </div>
    </div>
  </div>
  <p class="my-5"/>
  <div class="container">
    <p class="my-5"/>
    <div class="row">
      <div data-aos="fade" class="col-md-6 camarokuva">
        <Image src={katiskamac} alt="mac" class="front-img-cover" />
      </div>
      <div data-aos="fade" class="col-md-6">
        <h1>Nettisivut</h1>
        <p class="my-4"/>
        <p class="alaotsikko">Voit tutustua Nettisivuihini Projekteista</p>
        <p class="mb-4"/>
        <button onclick="document.location='/projektit'" class="btn"
          >NETTISIVUT</button
        >
      </div>
      <p class="my-5"/>
    </div>
  </div>

  <div class="container">
    <p class="mx-5"/>
    <div class="row">
      <div data-aos="fade" class="col-md-6 mb-4">
        <h1>Valokuviani</h1>
        <p class="my-4"/>
        <p class="alaotsikko">
          Voit tutustua valokuviini ja muuhun kuvattuun tai tehtyyn
          kuvamateriaaliin Galleria-sivulta
        </p>
        <p class="mb-4"/>
        <button onclick="document.location='/galleria'">GALLERIA</button>
      </div>
      <div data-aos="fade" class="col-md-6 camarokuva">
        <Image src={bmw} width={600} alt="kuvia" class="front-img-cover" />
      </div>
    </div>
    <p class="my-5"/>
  </div>
</Layout>

<style>
  button {
    text-decoration: none;
    position: relative;
    border: none;
    font-size: 12px;
    font-family: inherit;
    cursor: pointer;
    color: #fff;
    width: 12em;
    height: 3em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
    font-family: SF;
    letter-spacing: 0.2em;
  }

  button:hover {
    animation: ani 8s linear infinite;
    border: none;
    color: #fff;
    transition: 0.3s;
    font-weight: 700;
  }

  @keyframes ani {
    0% {
      background-position: 0%;
    }

    100% {
      background-position: 400%;
    }
  }

  button:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #fa269e, #f7e119, #f441a5, #03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
  }

  button:hover::before {
    filter: blur(20px);
  }

  button:active {
    background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  }

  .space {
    height: 80px;
  }

  .info {
    width: 90px;
    height: 90px;
  }

  h1 {
    font-family: SF;
    font-weight: 700;
    color: #212121;
    background: linear-gradient(to right, #d8d000, #ff0080);
    -webkit-background-clip: text;
  -webkit-text-stroke: 0.08em transparent;
  }

  h5 {
    font-family: SF;
    font-weight: 100;
    color: white;
    letter-spacing: 0.5px;
  }

  a {
    color: #d8d000;
  }

  a:hover {
    color: #d8d000;
  }

  a:active {
    color: #d8d000;
  }
</style>
