---
import { Image } from "astro:assets";
import laemkri from "/public/Laemkri.png";
import nav from "/public/hambur.png";
const currentPath = Astro.url.pathname.replace(/\//g, "");
import Hamburger from "../components/Hamburger.astro";

---

<body>
  <nav class="navbar navbar-expand-xl sticky-top navbar-dark">
    <a href="/">
      <Image src={laemkri} alt="logo" class="navlogo" />
    </a>
    <button
      name="navi"
      id="collapse"
      class="navbar-toggler"
      aria-label="navivalikko"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"><Hamburger></Hamburger>
   
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto">
        <li class="nav-item">
          <a
            class={currentPath === ""
              ? "nav-link px-3 active"
              : "nav-link px-3"}
            href="/">Etusivu</a
          >
        </li>
        <li class="nav-item">
          <a
            class={currentPath === "projektit"
              ? "nav-link px-3 active"
              : "nav-link px-3"}
            href="/projektit/">Projekteja</a
          >
        </li>
        <li class="nav-item">
          <a
            class={currentPath === "kokemus"
              ? "nav-link px-3 active"
              : "nav-link px-3"}
            href="/kokemus/">Kokemus</a
          >
        </li>
        <li class="nav-item">
          <a
            class={currentPath === "galleria"
              ? "nav-link px-3 active"
              : "nav-link px-3"}
            href="/galleria/">Galleria</a
          >
        </li>
        <li class="nav-item">
          <a
            class={currentPath === "blogi"
              ? "nav-link px-3 active"
              : "nav-link px-3"}
            href="/blogi/">Blogi</a
          >
        </li>
      </ul>
      <p class="mb-3"></p>
    </div>
  </nav>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  ></script>
</body>

<style>
  button:focus {
    outline: none;
    box-shadow: none;
  }

  .navlogo {
    margin-left: 15px;
    height: 30px;
    width: 170px;
  }

  nav {
    font-family: SF;
    background-color: #151515;
    text-align: center;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(
      0.25turn,
      #d8d000,
      #ff0080,
      rgba(56, 2, 155, 0)
    );
    border-image-slice: 1;
    width: 100%;
  }

  .navbar-collapse {
    background-color: #151515;
    margin-left: 25px;

  }

  .navbar {
    position: sticky;
    z-index: 1000;
    padding: 0;
  }

  .nav-item::after {
    content: "";
    display: flex;
    width: 0px;
    height: 2px;
    background: #ff0080;
    transition: 0.25s;
  }

  .nav-item:hover::after {
    width: 100%;
  }

  .nav-link:hover {
    text-shadow: 1px 1px 7px #ffffff;
    transition: 0.5s;
  }

  .navbar-toggler {
    border: none;
    margin-right: 10px;
    background-color: #21212100;
  }

  .nav-item {
    margin-right: 25px;
    text-align: left;
  }
</style>
